*{
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

#zunanji{
    background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 550px;
  padding: 20px;
  width: 320px;
}
/* input{
    height: 25px;
    margin-top: 10px;
}
.inp{
  width: 77%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  border: none;
  padding: 4px;
  border-bottom: 1px solid white;
  background-color: white;
} */
#input_div{
  margin-top: 5%;
}
#subm{
  margin-top: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
  height: 30px;
  font-size: 20px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;

}

#naslov{
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

input[type="submit"] {
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
  height: 30px;
  font-size: 20px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;


  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  /* Add a gradient as the background color */
  background: linear-gradient(to right, goldenrod 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: left;
  /* Add transition properties */
  transition: background-position 0.5s ease-out;
}

input[type="submit"]:hover {
  /* Change the background position on hover */
  background-position: right;
  color: goldenrod;;
}

input[type="text"] {
  height: 25px;
    margin-top: 10px;
  width: 77%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  border: none;
  padding: 4px;
  border-bottom: 1px solid white;
  background-color: white;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-width: 2px;
  border-color: goldenrod;
  box-shadow: 0px 0px 10px rgba(76, 175, 80, 0.5);
}

input[type="text"]::placeholder {
  color: #aaa;
}

input[type="text"]:focus::placeholder {
  color: #ccc;
  transition: color 0.3s ease-in-out;
}




